body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7868e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control input {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  outline: none;
}

.form-control label {
  font-weight: bold;
  font-size: 20px;
  color: #1d1d31;
}
.container {
  /* border: 2px solid black; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}

.form button {
  height: 40px;
  width: 130px;
  border: none;
  cursor: pointer;
  background-color: #f8f5f1;
  padding: 10;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
}

.btn {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
}

.bmi {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bmi h1 {
  color: #1d1d31;
}

.bmi h2 {
  padding: 8px 15px;
  border-radius: 10px;
  background-color: #e4fbff;
  width: 230px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1d1d31;
}

/* .sub-container {
  height: ;
  width: 80%;
  border: 2px solid black;
  /* border-radius: ; 
} */

article {
  /* border: ; */
  box-shadow: 4px 8px black;
  padding: 35px;
  background-color: #b8b5ff;
  border-radius: 15px;
}
